NEXT_PUBLIC_APP_WEB_SITE_URL=https://captureflow-private.flindev.workers.dev
NEXT_PUBLIC_RECORDING_SITE_URL=https://captureflow-private.flindev.workers.dev
NEXT_PUBLIC_SCREENSHOT_SITE_URL=https://captureflow-private.flindev.workers.dev
NEXT_PUBLIC_MARKETING_SITE_URL=https://captureflow-private.flindev.workers.dev
NEXT_PUBLIC_DOWNLOAD_URL=https://github.com/scrummitch/captureflow/releases
